<!DOCTYPE html>
<html>
<head>
	<title>File Upload App</title>
	<!-- 引入 Bootstrap CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
	<style>
		body {
			font-family: Arial, sans-serif;
		}
		form {
			margin-top: 50px;
		}
		input[type="submit"] {
			margin-top: 20px;
		}
		li {
			padding: 10px;
			margin-bottom: 10px;
			border: 1px solid #ddd;
			border-radius: 5px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	</style>
</head>
<body>
	<div class="container mt-5">
		<h1 class="mb-4">上传文件</h1>
		{% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-primary" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
		<form action="/upload" method="post" enctype="multipart/form-data">
			<div class="mb-3">
				<label for="file" class="form-label">Select a file:</label>
				<input type="file" name="file" id="file" class="form-control">
			</div>
			<input type="submit" value="Upload" class="btn btn-primary">
		</form>
	</div>
	<div class="container mt-5">
		<ul class="container mt-5">
			{% for file in files %}
				<li>{{ file }}</li>
			{% endfor %}
		</ul>
	</div>
	<!-- 引入 Bootstrap JavaScript 文件 -->
	<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>
